*{
    border: 0;
    margin: 0;
    font-weight: normal;
}

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 15px auto;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

div{
    margin: 10px 0;
}

h1{
    font-size: 70px;
}

.header{
    margin-top: 25px;
    flex: 1 1 auto;
}

.round, .round-span{
    font-size: 40px;
    font-weight: 400;
}

.select{
    font-size: 30px;
    flex: 1 1 auto;
}

.prompt.container{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.move{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 10rem;
    height: 4rem;
    border: 2px solid #a9a9a9;
    background-color: #FFFFFF;
    border-radius: 5px;
    flex: 1 1 auto;
}

.rock:hover, .rock:active{
    background-color: #add8e6;
    border: 5px solid #7998a3;
}

.paper:hover, .paper:active{
    background-color: #e8a4a4;
    border: 5px solid #b47c7c;
}

.scissors:hover, .scissors:active{
    background-color: #fff7a0;
    border: 5px solid #bbac61;
}



.info{
    font-size: 25px;
    flex: 1 1 auto;
}

.result{
    margin-top: 20px;
    flex: 1 1 auto;
}

.msg{
    font-size: 35px;
}

.msg.end{
    font-weight: bold;
}

.hidden{
    display: none;
}

.show{
    display: flex;
}

.hidden.again{
    /*display: flex;*/
    border: 2px solid #a9a9a9;
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 8px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    border-radius: 5px;
}

.hidden.again:hover, .hidden.again:active{
    background-color:#d3d3d3;
}
